<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.mapper.SpdFundBaseMapper">

    <cache flushInterval="600000" />
    <resultMap type="SpdFundBase" id="SpdFundBaseResult" />

    <sql id="selectSpdFundBaseVo">
        SELECT id, code, name, cat_name, banchmark, class_id, reg_date, favorite, fee, free_at
             , y3_risk_rating, y5_risk_rating, y3_ms_rating, y5_ms_rating
             , y3_ms_risk as y3_risk, y5_ms_risk as y5_risk
             , y3_std, y5_std, y3_sharp, y5_sharp, rating_date
             , nm1_return AS m1_return, nm1_cat as m1_cat_return, m3_return, m6_return, ytd_return, y2_return
             , y1_return, y1_cat_size, y1_cat_rank
             , y3_return, y3_cat_size, y3_cat_rank
             , y5_return, y5_cat_size, y5_cat_rank, return_date
             , asset, cash_p AS cash, stock_p AS stock, bond_p AS bond, other_p AS other
             , top_stock_w AS top_stock, top_bond_w AS top_bond, portfolio_date
             , manager, top10_stock AS top_stocks, top5_bond AS top_bonds, industry_sector
        FROM v_latest_fund
    </sql>

    <select id="selectSpdFundBaseList" parameterType="SpdFundBase" resultMap="SpdFundBaseResult" useCache="true">
        <include refid="selectSpdFundBaseVo"/>
        <if test="name != null  and name != ''"> and b.name like concat('%', #{name}, '%')</if>
        <if test="code != null  and code != ''"> and b.code = #{code}</if>
        <if test="favorite != null "> and b.favorite = #{favorite}</if>
    </select>
    
    <select id="selectSpdFundBaseById" parameterType="Long" resultMap="SpdFundBaseResult" useCache="true">
        <include refid="selectSpdFundBaseVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSpdFundBase" parameterType="SpdFundBase" useGeneratedKeys="true" keyProperty="id" flushCache="true">
        insert into spd_ms_fund_base
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="classId != null">class_id,</if>
            <if test="code != null and code != ''">code,</if>
            <if test="m1Return != null">m1_return,</if>
            <if test="m1Index != null">m1_index,</if>
            <if test="m1Cat != null">m1_cat,</if>
            <if test="regDate != null">reg_date,</if>
            <if test="openDate != null">open_date,</if>
            <if test="saleDate != null">sale_date,</if>
            <if test="canBuy != null">can_buy,</if>
            <if test="canSale != null">can_sale,</if>
            <if test="minBuy != null">min_buy,</if>
            <if test="fee != null">fee,</if>
            <if test="manager != null">manager,</if>
            <if test="favorite != null">favorite,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="classId != null">#{classId},</if>
            <if test="code != null and code != ''">#{code},</if>
            <if test="m1Return != null">#{m1Return},</if>
            <if test="m1Index != null">#{m1Index},</if>
            <if test="m1Cat != null">#{m1Cat},</if>
            <if test="regDate != null">#{regDate},</if>
            <if test="openDate != null">#{openDate},</if>
            <if test="saleDate != null">#{saleDate},</if>
            <if test="canBuy != null">#{canBuy},</if>
            <if test="canSale != null">#{canSale},</if>
            <if test="minBuy != null">#{minBuy},</if>
            <if test="fee != null">#{fee},</if>
            <if test="manager != null">#{manager},</if>
            <if test="favorite != null">#{favorite},</if>
         </trim>
    </insert>

    <update id="updateSpdFundBase" parameterType="SpdFundBase" flushCache="true">
        update spd_ms_fund_base
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="classId != null">class_id = #{classId},</if>
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="m1Return != null">m1_return = #{m1Return},</if>
            <if test="m1Index != null">m1_index = #{m1Index},</if>
            <if test="m1Cat != null">m1_cat = #{m1Cat},</if>
            <if test="regDate != null">reg_date = #{regDate},</if>
            <if test="openDate != null">open_date = #{openDate},</if>
            <if test="saleDate != null">sale_date = #{saleDate},</if>
            <if test="canBuy != null">can_buy = #{canBuy},</if>
            <if test="canSale != null">can_sale = #{canSale},</if>
            <if test="minBuy != null">min_buy = #{minBuy},</if>
            <if test="fee != null">fee = #{fee},</if>
            <if test="manager != null">manager = #{manager},</if>
            <if test="favorite != null">favorite = #{favorite},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateSpdFundBaseFav" parameterType="SpdFundBase" flushCache="true">
        update spd_ms_fund_base
        <trim prefix="SET" suffixOverrides=",">
            <if test="favorite != null">favorite = #{favorite},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSpdFundBaseById" parameterType="Long" flushCache="true">
        delete from spd_ms_fund_base where id = #{id}
    </delete>

    <delete id="deleteSpdFundBaseByIds" parameterType="String" flushCache="true">
        delete from spd_ms_fund_base where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>